<div class="our-container-form">

  <h1 id="our-title">About us</h1>

  <h3>"Change your life, learn to code..."</h3>
  <p>... this is how all began.
  We all started this crazy journey 9 weeks ago, to become Full stack Developers.</br>
  First batch in Zurich to be part of this amazing experience. With the help of our amazing
  teachers from Le Wagon we were able to present this final project to you.</p>

  <h2>The TEAM</h2>
  <h4>Irina Borisova </h4>
  <img src="" alt="Irina">
  <p>text about me</p>
  <br>
  <h4>Cristina Sult</h4>
  <img src="" alt="Cristina">
  <p>text about me</p>

  <h4>Giannina Binder</h4>
  <img src="" alt="Giannina">
  <p>text about me</p>


  <h4>Siegfried Bozza</h4>
  <img src="" alt="Siegfried">
  <p>text about me</p>
</div>
