<div class="our-container-about mb-3">

  <h2 class="our-title mb-3">About us</h2>
  <div>
  <h3 id="motto">"Change your life, learn to code..."</h3>
  <p id="description" class="mx-3">... this is how it all began.
  We all started this crazy journey 9 weeks ago, to become Full stack Developers.</br>
  First batch in Zurich to be part of this amazing experience. With the help of our amazing
  teachers from Le Wagon we were able to present this final project to you.</p>
  </div>
  <div>
  <div class="line"></div>
  <h2 class=" our-title mb-3">The TEAM</h2>

    <h4>Irina Borisova </h4>
    <%= image_tag "irina.jpg", class: "profile-img" %>
    <p class="mt-3">Lead Dev - backend & frontend</p>
    <div class="d-flex justify-content-center">
      <a href="https://www.linkedin.com/in/borisovairina/" target="_blank"><i class="fab fa-linkedin about-links mx-3"></i></a>
      <a href="https://github.com/boririna" target="_blank"><i class="fab fa-github about-links mx-3"></i></a>
      <a href="https://www.instagram.com/birinaale/" target="_blank"><i class="fab fa-instagram about-links mx-3"></i></a>
    </div>
  </div>

  <div class="line"></div>

  <div>
    <h4>Cristina Sult</h4>
    <%= image_tag "cristina.png", class: "profile-img" %>
    <p class="mt-3">Developer - backend & frontend & design</p>
    <div class="d-flex justify-content-center">
      <a href="https://www.linkedin.com/in/cristina-sult/" target="_blank"><i class="fab fa-linkedin about-links mx-3"></i></a>
      <a href="https://github.com/cristinasult" target="_blank"><i class="fab fa-github about-links mx-3"></i></a>
      <a href="https://www.instagram.com/sultcristina/" target="_blank"><i class="fab fa-instagram about-links mx-3"></i></a>
    </div>
  </div>

  <div class="line"></div>

  <div>
    <h4>Giannina Binder</h4>
  <%= image_tag "giannina.JPG", class: "profile-img"%>
    <p class="mt-3">Developer - backend & frontend & design</p>
    <div class="d-flex justify-content-center">
      <a href="https://www.linkedin.com/in/giannina-binder-537159202/" target="_blank"><i class="fab fa-linkedin about-links mx-3"></i></a>
      <a href="https://github.com/GianninaBinder" target="_blank"><i class="fab fa-github about-links mx-3"></i></a>
      <a href="https://www.instagram.com/akemikiryu/" target="_blank"><i class="fab fa-instagram about-links mx-3"></i></a>
    </div>
  </div>


  <div class="line"></div>

  <div>
    <h4>Siegfried Bozza</h4>
    <%= image_tag "siegfried.jpg", class: "profile-img"%>
    <p class="mt-3">Developer - frontend & backend & APIs</p>
    <div class="d-flex justify-content-center">
      <a href="https://www.linkedin.com/in/siegfriedbozza" target="_blank"><i class="fab fa-linkedin about-links mx-3"></i></a>
      <a href="https://github.com/SiegfriedBz" target="_blank"><i class="fab fa-github about-links mx-3"></i></a>
    </div>
  </div>
</div>
