<div class="background-heigth">
  <div class="our-container py-5">
    <h1>Welcome to Hike Finder!</h1>

    <div class="py-4">
      <p class="bg-white my-3">placeholder for the location select form</p>
      <p class="bg-white my-3">placeholder for the transportation form</p>

      <%= link_to "Find hikes", hikes_path, class: "our-button my-3" %>
    </div>
  </div>

</div>
