<div class="background-heigth d-flex flex-column justify-content-center">
  <div class="our-container py-5">
    <h1 class="mt-4">Welcome to </br>Hike Finder</h1>
    <div class="py-4">
      <%= form_tag hikes_path, method: :get do %>
      <%= text_field_tag :query_address,
        params[:query_address],
        class: "form-control",
        placeholder: "Enter your current location"
      %>
      <br>
      <%= text_field_tag :query_distance,
        params[:query_distance],
        class: "form-control",
        placeholder: "Distance (km) from your location"
      %>
      <%= submit_tag "Find hikes", class: "our-button px-5 my-3" %>
      <% end %>
    </div>
  </div>

</div>
