<div class="background-heigth">
  <div class="our-container py-5">
    <h1>Welcome to Hike Finder!</h1>

    <div class="py-4">
      <%= form_tag hikes_path, method: :get do %>
      <%= text_field_tag :query_address,
        params[:query_address],
        class: "form-control",
        placeholder: "Enter your address"
      %>
      <%= text_field_tag :query_time,
        params[:query_time],
        class: "form-control",
        placeholder: "travel time"
      %>
      <%= submit_tag "Find hikes", class: "our-button my-3" %>
      <% end %>
    </div>
  </div>

</div>
