.background-heigth {
  height: 100vh;
  background-image: url(https://d1hirb55zrpywb.cloudfront.net/macs-adventure-tours/routes/WSSIKLTI/routeimagegallery/shutterstock-1662649585-beautiful-mountain-hike-through-val-roseg-ValPoschiavo-rsz-06012021160052146.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
