.length-edge {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
}

.altitude-edge {
  display: flex;
  justify-content: space-between;
  margin-top: -30px;
}

.more-less {
  color: $turquoise;
}
