.image-icon {
  position: absolute;
  z-index: 1;
  color: rgb(169, 169, 169);
  text-shadow: 1px 1px 8px #6e6e6e;
  font-size: 28px;
  top: 16px;
  left: 88%;
  text-align: right;
}

.star-icon {
  font-size: 32px;
}

.img-icon {
  z-index: 1;
  color: rgb(169, 169, 169);
  text-shadow: 1px 1px 4px #6d8988;
  font-size: 32px;
}

.fa-heart-red {
  color: #c30a79;
}
