.link {
  text-decoration: none;
  color: black;
  border: none;
}

.link:hover {
  color: #003937;
  border: none;
}

.about-links {
  color: $turquoise;
  font-size: 32px;
}

.about-links:hover {
  color: $pink;
}
