.link {
  text-decoration: none;
  color: black;
  border: none;
}

.signup-login-link {
  text-decoration: none;
  color: $turquoise;
  font-weight: 100;
  font-size: 24px;
  border: none;
}

.signup-login-link:hover {
  color: $turquoise;
  font-weight: 400;
}

.link:hover {
  color: #003937;
  border: none;
}

.about-links {
  color: $turquoise;
  font-size: 32px;
}

.about-links:hover {
  color: $pink;
}
