.mapboxgl-popup {
  max-width: 100px;
  border-radius: 24px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border: none;
  font-size: 16px;
  max-width: 150px;
  border-radius: 12px !important;
}

.mapboxgl-popup-content h2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
.mapboxgl-popup-content h2:focus {
  border: none;
  outline-offset: 0 !important;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}

*:focus {
  outline: none;
}
