.our-button {
  color: white;
  text-decoration: none;
  padding: 12px;
  background-color: $pink;
  border-radius: 8px;
  box-shadow: 1px 2px 6px #725384;
  min-width: 150px;
  border: none !important;
}

.our-button:hover {
  background-color: #d0258b;
  color: whitesmoke;
}


.our-button-sm {
  color: white;
  text-decoration: none;
  padding: 8px;
  background-color: #FF0099;
  border-radius: 8px;
  min-width: 150px;
  box-shadow: 1px 2px 6px #725384;
}

.our-button-sm:hover {
  background-color: #d0258b;
  color: whitesmoke;
}
