
.our-container-form {
  width: 80%;
  margin: 0 auto;
}

.our-container-about{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

.our-container-form h2 {
  color: #01B2B2;
}

.our-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  text-align: center;
  margin: auto;
}

.our-container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  text-align: center;
  margin: auto;
}

.our-container-center {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-container-weather {
  width: 80%;
  overflow: scroll;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.our-container-spec {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
}

.our-container-show {
  width: 95%;
  margin: 0 auto;
  justify-content: center;
}

.our-container-carousel {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .our-container-carousel {
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .our-container-carousel {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .our-container-carousel {
    width: 100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .our-container-carousel {
    width: 80%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .our-container-carousel {
    width: 80%;
  }
}
