.placeholder-image {
  background-image: url(https://vcdn.bergfex.at/images/resized/ff/15a252e663293eff_2cbf629cb128fe61.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
