.placeholder-image {
  background-image: url(https://vcdn.bergfex.at/images/resized/ff/15a252e663293eff_2cbf629cb128fe61.jpg);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.height-250 {
  height: 240px;
  object-fit: cover;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .height-250 {
    height: 240px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .height-250 {
    height: 240px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .height-250 {
    height: 400px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .height-250 {
    height: 600px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .height-250 {
    height: 600px;
  }
}
